/* General Styles */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background: #f0f0f0;
    color: #333;
}

.container {
    width: 80%;
    margin: auto;
    overflow: hidden;
}

header {
    background: #1043fc;
    color: #fff;
    padding: 1rem 0;
}

nav {
    display: flex;
    justify-content: center;
    padding: 0.5rem 0;
}

nav a {
    color: #fff;
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: bold;
    transition: background 0.3s;
}

nav a:hover {
    background: #10adea;
}

.profile {
    text-align: center;
    padding: 1rem 0;
}

.profile h1 {
    margin: 0;
    font-size: 2.5rem;
}

.profile p {
    font-size: 1.3rem;
    color: #040704;
}

section {
    padding: 2rem 0;
}

section h2 {
    text-align: center;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #004d40;
}

.skills, .education, .projects {
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    padding: 2rem;
}

.skill, .education-item, .project {
    margin-bottom: 1.5rem;
}

.skill h3, .education-item h3, .project h3 {
    font-size: 1.8rem;
    color: #337ef7;
}

.skills ul, .education-item p, .projects p {
    margin: 0.5rem 0;
}

.contact ul {
    list-style: none;
    padding: 0;
}

.contact ul li {
    margin: 0.5rem 0;
}

.contact a {
    color: #141818;
    text-decoration: none;
}

.contact a:hover {
    text-decoration: underline;
}

footer {
    background: #cb33a7;
    color: #fff;
    text-align: center;
    padding: 1rem 0;
}